<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">

:root {
    --main-color: black;
    font-family: 'Mukta', sans-serif;
}

header .menu-items a {
    display: block;
    text-decoration: none;
}

header .menu-items a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: border: 1px solid transparent;
    padding: 5px;
}

header .menu-items a:hover {
    border: 1px solid var(--main-color);
}